* {
    box-sizing: border-box;
  }
body{
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}

.hoved{
    margin: auto;
    margin-top:50px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 600px;
    padding: 20px;
    border: solid #c9c9c9 1px;
    position: relative;
}
input {
    margin-top: 2px;
    margin-bottom: 10px;
  }
img{
    max-width:80%;
    max-height:100%;
    position: absolute;
    right: 0;
    bottom: 50px;
}
#fyllord{
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    left: 75%;
    transform: translate(-50%, 0);

}
button{
    padding: 10px;
}
#bokstav {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
  }
#bokstav {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }
#melding,h1{
    font-size: xx-large;
}
#neste{
  position: absolute;
  bottom: 0;
}